.school{
  display: flex;
  text-align: left;
  margin: 0.5rem;

  outline: 1px black dotted;
}

.image{
  width: 150px;
  align-self: center;
}

.body{
  flex-grow: 1;
  padding: 1rem;
  margin: 0.2rem;
}